*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.env
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
/tools/*.js
/tools/*.json
/server/private/*.crt
/server/private/*.pem
/server/private/*csr
/server/private/*.key
*.key